.signup-form__buttons {
  display: flex;
  flex-direction: column;
}
.signup-form__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
