.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(222, 221, 225);
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.header-logo {
  margin: 0 50px;
  font-size: 1.6rem;
  font-weight: 600;
}

.header-buttons {
  margin: 0 50px;
}

.header-buttons > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
