@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

.sidebar {
  min-width: 200px;
  background-color: rgb(238, 237, 243);
  font-size: 1.4rem;
  padding-top: 1.5rem;
  height: calc(100vh - 50px);
  position: sticky;
  left: 0;
  /* top: 50px; */
  max-width: 300px;
  width: 25%;
  z-index: 900;
}

.nav-aside p {
  font-weight: 500;
  padding-left: 1rem;
}
.nav-aside li {
  list-style: none;
}
.nav-item {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  width: 100%;
  padding: 0.8rem 0.5rem;
  font-size: 1rem;
  padding-left: 1.5rem;
}
.nav-item:hover {
  background-color: rgb(136, 127, 255);
  color: white;
  text-decoration: none;
}
.nav-item > i {
  font-size: 1.5rem;
}
.active {
  background-color: rgb(136, 127, 255);
  color: white;
}
.toogle-btn {
  position: absolute;
  top: 0;
  background: transparent;
  border: none;

  z-index: 1000;
  display: none;
}
.toogle-btn:hover {
  color: rgb(136, 127, 255);
}
.toogle-btn i {
  font-size: 2rem;
}
@media screen and (max-width: 890px) {
  /* STYLES HERE */
  .sidebar {
    left: -100%;
    position: absolute;
    top: 50px;
    transition: all 0.25s ease-in-out;
  }
  .active-sidebar {
    left: 0;
  }
  .toogle-btn {
    display: block;
  }
}
