.chatrooms-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  height: calc(100vh - 50px);
}
.chatrooms-main {
  width: 90%;
  margin: 2rem;
  box-shadow: 1px 1px 5px rgba(55, 55, 55, 0.524);
}
.chatrooms {
  display: flex;
  width: 100%;
  height: 100%;
}

.chatrooms-navigation {
  align-items: center;
  width: 25%;
  padding: 1rem;
  border-right: 1px solid rgba(139, 132, 132, 0.524);
}
.chatrooms-chatInterface {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.send-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.messages-container {
  flex-grow: 1;
  padding: 1rem;
  overflow: scroll;
}
.rooms-list {
  width: 100%;

  height: 85%;

  overflow-y: scroll;
}
.room-item {
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  padding: 5px;
}
.room-item:hover {
  background-color: rgb(225, 225, 225);
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}
.msg {
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  background-color: #555;
  color: white;
  margin: 0;
}
.time-stamp {
  font-size: 10px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 10px;
}
.owner {
  align-items: flex-end;
}
.owner p {
  background-color: #246cb0;
  color: white;
}

/* scrollbar css */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #246cb0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
