.form-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.btn-custom {
  display: flex !important ;
  justify-content: center !important;
  align-items: center !important;
  gap: 1rem !important;
}
