body {
  box-sizing: border-box;
  font-family: "Roboto" sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
table {
  margin: 10px 20px;
  width: 95%;
}

table > thead > tr,
th,
table > tbody > tr > td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 20px;
}

table > tbody > tr > td > button {
  background-color: green;
  border: none;
  color: white;
  padding: 5px;
  width: 50px;
  cursor: pointer;
}
